<h1>Товар</h1>

<table>
<tr>
  <th>товар</th>
  <th>Название</th>
  <th>Цена</th>
  <th></th>
</tr>
 <% @items.each do |i| %>
   <tr>
   <td><%= i.id %></td>
   <td><%= link_to i.name, item_path(i) %></td>
   <td><%= i.price %> руб.</td>
   <td><%= link_to "Удалить",item_path(i) ,method: :delete, data: {confirm: "ТОЧНО УДАЛИТЬ?"} %></td>
 </tr>

<% end %>
</table>


